.about {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about__info {
  width: 50%;
  padding-right: 25px;
  position: relative;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 100px;
}

.about__img {
  width: 50%;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.about__sign {
  position: absolute;
  bottom: -105px;
  right: 65px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  p {
    margin: 0;
    margin-left: 15px;
    padding-bottom: 30px;
  }
}
